<style>
 .top-contact-left {
  width:40%;
  float:left;
  text-align: left;
  height: 230px;
}
.top-contact-menu {
    background-color: white;
    width: 100%;
    height: 250px;
    color: black;
}
body{
    /*background-image:url(https://drive.google.com/uc?id=1FdXTn11mCa00TEWZZH43FJI1NAMGpKhQ); */
    background-image: url(images/tm-sigma-00.jpg);
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center;
    background-attachment: fixed;
    margin: 0 auto;
    width: 1200px;
    font-family: cursive;
}
p{
    font-size: 18px;
}

 .top-contact-left {
  width:40%;
  float:left;
  text-align: left;
  height: 230px;
}
.top-contact-right {
  width:60%;
  height: 230px;
  float:right;
  text-align: center;
}
    
.align{
    padding-top: 75px;
    font-size:20px;
    color:gray;
    float:right;
    text-align: center;
    display: flex;    
}
.mybody{
    height:3300px;
}
.Text{
font-size: 20px;
text-align: center;
height:500px;
padding-top: 180px;
border-bottom-style: solid;
border-bottom-color: white;
}
.Text1{
font-size: 20px;
text-align: center;
height:300px;
padding-top: 100px;
padding-bottom: 50px;    
border-bottom-style: solid;
border-bottom-color: white;
}

.mybut{
    color:white;
    font-family: cursive;
    font-size: 20px;
    background-color: crimson;
    padding:20px 25px 25px 20px;
    border:0px;
    border-radius: 15px;
}

.row{
    width:100%;
    height:300px;
    text-align: center;
}
.design{
    float:left;
    color:black;
    width:25%;
    height:300px;
    padding-top: 150px;
    padding-bottom: 100px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color:#E4E8E8;
}
.implement{
    float:left;
    width:25%;
    color:white;
    padding-bottom: 100px;
    height:300px;
    padding-top: 150px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color:#999;
}
.enhance{
    float:left;
    width:25%;
    padding-bottom: 100px;
    color:white;
    height:300px;
    padding-top: 150px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color:#666;
}
.monitor{
    float:left;
    width:297px;
    padding-bottom: 100px;
    color:white;
    padding-top: 150px;
    height:300px;
    border-bottom: 1px solid white;
    background-color:#444;
}

.img3{
    float:left;
    width:399px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}
.row1{
    width:100%;
    height:600px;
}
.large-image{
    width:800px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;  
    float:left;
}
.img2{
    width:399px;  
    float:right;
    border-bottom: 1px solid white; 
}
.row2{
    width:100%;
    height:450px;
}
.img51{
    width:600px;  
    float:left;
    border-bottom: 1px solid white;
    border-right: 1px solid white; 
}
.img52{
    width:599px;  
    float:right;
    border-bottom: 1px solid white; 
}
.row3{
    width:100%;
    height:300px;
}
.img61{
    width:299px; 
    border-bottom: 1px solid white;
    border-right: 1px solid white; 
    float:right;
}
.bottom{
    width:100%;
    height:350px;
    background-color: white;
}
.bottom-contact-menu {
    background-color: white;
    padding-top: 50px;
    padding-left: 10px;
    width: 390px;
    border-right: 1px solid white;
    height: 350px;
    float:left;
    color: black;
}
.bottom-message-menu{
    background-color: white;
    padding-top: 50px;
    padding-left: 10px;
    border-right: 20px solid white;
    width: 390px;
    height: 350px;
    color: black;
    float:left;
    
}
.bottom-address-menu{
    background-color: white;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    width: 369px;
    height: 350px;
    color: black;
    float:left;
    
}

input[type=text],select{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
textarea{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  resize: vertical;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 200px;
    
}
    
.footer{
    height:200px;
    background-color: white;
    width:100%;
    text-align: center;
}
ul.contact {
  list-style: none;
  float: left;
  padding-left: 10px;
}
</style>